In [12]:
import pandas as pd
from scipy.cluster.hierarchy import linkage,dendrogram
import matplotlib
matplotlib.use('Agg') 
import matplotlib.pyplot as plt
%matplotlib inline
%pylab

Using matplotlib backend: agg
Populating the interactive namespace from numpy and matplotlib

In [13]:
df=pd.read_excel('data/base_data.xls',sheetname=u'工作表2',index_col=u'基站编号')

In [14]:
df=(df-df.min())/(df.max()-df.min())
#离差标准化

In [15]:
df=df.reset_index()

In [16]:
df.to_excel('data/base_data_std.xls',index=False)

In [17]:
df2=pd.read_excel('data/base_data_std.xls',index_col=u'基站编号')
df2.head()

       工作日人均停留时间  凌晨人均停留时间  周末人均停留时间     日均人流量
基站编号
52001   0.253333  0.598985  0.642308  1.000000
52002   0.693333  1.000000  0.330769  0.691309
52003   0.366667  0.274112  0.126923  0.210789
52004   0.193333  0.979695  1.000000  0.096404
52005   1.000000  0.629442  0.984615  0.594406

In [18]:
X=linkage(df2,method='ward',metric='euclidean')

In [19]:
Y=dendrogram(X,0)

In [20]:
plt.show()